@charset "UTF-8";

body {
  width: 50vw;
  height: 50vh;
}

.profile-card {
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
  transition: all 0.3s ease;
}

.dark-mode {
  background-color: #1a1a1a;
  color: white;
}
