.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 500px;
  height: auto;
  min-height: 400px;
  margin: 100px auto;
  padding: 32px;
  border: 1px solid #333;
  border-radius: 16px;
}

.product-list {
  display: flex;
  justify-content: space-between;
}

.prodct-item {
  display: flex;
  gap: 12px;
}

.cart-box,
.cart-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
}

.cart-item-name {
  font-size: 20px;
}
