@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 6px;
}

ol,
ul {
  display: block;
  width: 200px;
  height: 30px;
  line-height: 30px;
  margin: 1rem 0 0;
  background-color: aquamarine;
  border: 1px solid #333;
  list-style: none;
  text-align: center;
}

li {
  display: block;
  width: 200px;
  height: 30px;
  line-height: 30px;
  background-color: aqua;
  border: 1px solid #333;
}

li:not(:last-child) {
  border-bottom: none;
}
