@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 4px;
}

ol,
ul {
  list-style: none;
  text-align: center;
}

button {
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  padding: 12px;
  gap: 12px;
  background-color: #f3e5f5;
  border-radius: 8px;
  border: 1px solid #666;
  box-shadow: 4px 4px 8px 0 #999;
}

.todo-box {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.todo-box button {
  width: 45px;
  height: 25px;
  background-color: #9d4ccc;
  color: white;
  border: 1px solid #333;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.todo-box button:hover {
  background-color: #8339b3;
}

#todo-input {
  width: 200px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #333;
  border-radius: 4px;
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

#todo-input:focus {
  border-color: #9d4ccc;
  box-shadow: 0 0 8px rgba(157, 76, 204, 0.2);
  outline: none;
}

#todo-list {
  display: flex;
  flex-direction: column;
}

.todo-element {
  display: flex;
  align-items: center;
  width: 350px;
  height: 50px;
  padding: 15px;
  margin-bottom: 6px;
  background-color: #b9e0fd;
  border-radius: 8px;
  border: 1px solid #333;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition:
    opacity 0.3s ease-in-out,
    height 0.3s ease 0.3s;
}

.block {
  height: 50px;
  padding: 15px;
  opacity: 1;
  visibility: visible;
}

.deleting {
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  opacity: 0;
  pointer-events: none;
  transition:
    opacity 0.3s ease-in-out,
    height 0.3s ease 0.3s,
    margin-bottom 0.3s ease 0.3s;
}

.todo-text {
  width: 100%;
}

.delete-button {
  width: 45px;
  height: 25px;
  background-color: #ff8a8a;
  border: 1px solid #333;
  border-radius: 4px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.delete-button:hover {
  background-color: #ff5c5c;
  color: white;
}
