.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 400px;
  height: auto;
  min-height: 400px;
  margin: 100px auto;
  padding: 32px;
  border: 1px solid #333;
  border-radius: 16px;
}

.todo-input-box {
  display: flex;
  gap: 16px;
}

.todo-input {
  width: 100%;
  height: 40px;
  padding: 0 6px;
  border: 1px solid #333;
  border-radius: 8px;
  outline: none;
}

.todo-add-button {
  width: 60px;
  border: 1px solid #333;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 8px;
  border: 1px solid #333;
  border-radius: 8px;
}

.todo-delete-button {
  width: 40px;
  height: 100%;
  border: 1px solid #333;
  border-radius: 8px;
  cursor: pointer;
}
