.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 500px;
  height: auto;
  min-height: 150px;
  margin: 350px auto;
  padding: 32px;
  border: 1px solid #333;
  border-radius: 16px;
}
h1 {
  text-align: center;
}

button {
  height: 40px;
  font-size: 18px;
  border: 1px solid #333;
  border-radius: 8px;
}

p {
  text-align: center;
  font-size: 18px;
}
